@import 'styles/color.scss';
@import 'styles/media.scss';

.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 32px 8px;
	position: relative;

	& > h1 {
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		font-size: 28px;
		color: $black;
		margin-bottom: 16px;
	}

	& .content {
		display: flex;
		flex-direction: column;
		height: 100%;

		& .statusText {
			font-family: 'Montserrat', sans-serif;
			font-size: 16px;
			font-style: italic;
			align-self: center;
			margin-top: 32px;
			text-decoration: underline;
			color: #8d898f;
			border: none;
			background-color: transparent;
		}

		& .addRecord {
			display: flex;
			align-self: center;
			align-items: center;
			justify-content: center;
			border: none;
			border-radius: 12px;
			background-color: $black;
			min-height: 40px;
			width: 50%;
			margin-top: 40px;

			& > span {
				color: white;
				font-family: 'Montserrat', sans-serif;
				font-weight: 400;
				font-size: 14px;
			}
		}

		& .addWrapper {
			display: flex;
			flex-direction: column;
			position: fixed;
			opacity: 0;
			transform: translate(-50%, 50%);
			left: 50%;
			z-index: -1;
			min-width: 320px;
			transition: all 0.3s;

			& .tagsWrapper {
				display: flex;
				flex-direction: column;
				background-color: white;
				border-radius: 16px;
				padding: 16px;
				box-shadow: 0px 8px 60px -30px rgba(77, 77, 77, 0.3);
				margin-bottom: 24px;

				& > h3 {
					font-family: 'Montserrat', sans-serif;
					font-weight: 700;
					font-size: 24px;
					color: $black;
					margin-bottom: 12px;
				}

				& .typeSelect {
					margin-bottom: 16px;

					& > label {
						flex: 1;
						padding: 0 8px;

						& span {
							font-family: 'Montserrat', sans-serif;
							font-weight: 400;
						}
					}
				}
			}

			& .actionWrapper {
				display: flex;
				justify-content: center;
				position: relative;

				& .submitRecord {
					display: flex;
					align-items: center;
					justify-content: center;
					border: none;
					border-radius: 12px;
					background-color: $black;
					min-height: 40px;
					width: 50%;

					& > span {
						color: white;
						font-family: 'Montserrat', sans-serif;
						font-weight: 400;
						font-size: 14px;
					}
				}

				& .close {
					display: flex;
					align-self: center;
					align-items: center;
					justify-content: center;
					border: none;
					border-radius: 12px;
					background-color: $black-grey;
					position: absolute;
					right: 0;
					bottom: 0;
					min-height: 40px;
					width: 40px;
				}
			}
		}

		& .show {
			opacity: 1;
			z-index: 11;
		}
	}

	& .mask {
		width: 100vw;
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		transition: all 0.3s;
		z-index: -1;
	}

	& .showMask {
		z-index: 1;
		background-color: rgba(0, 0, 0, 0.4);
	}
}
