@import 'styles/color.scss';
@import 'styles/media.scss';

.wrapper {
	display: flex;
	flex-direction: column;
	padding: 32px 8px;
	height: 100%;

	& h1 {
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		font-size: 28px;
		color: $black;
		margin-bottom: 16px;
	}

	& .topContent {
		display: flex;
		flex-direction: column;
		margin-bottom: 36px;

		& .topContentRow {
			display: flex;

			& .topContentBox {
				display: flex;
				flex-direction: column;
				align-items: center;
				flex: 1;
				background-color: white;
				border-radius: 16px;
				padding: 16px;
				box-shadow: 0px 8px 60px -30px rgba(77, 77, 77, 0.3);
				position: relative;

				&:not(:last-child) {
					margin-right: 16px;
				}

				& .avatar {
					width: 50px;
					height: 50px;
					border-radius: 50%;
					background-size: contain;
					background-position: center;
					background-repeat: no-repeat;
				}

				& .dayCount {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 50px;
					height: 50px;
					font-family: 'Montserrat', sans-serif;
					font-weight: 600;
					font-style: italic;
					font-size: 40px;
					color: $primary;
				}

				& > p {
					font-family: 'Montserrat', sans-serif;
					font-weight: 600;
					font-size: 16px;
					color: $black;
					margin-top: 8px;
				}
			}
		}
	}

	& .bottomContent {
		display: flex;
		flex-direction: column;
		height: 100%;

		& .bottomContentRow {
			display: flex;
			flex-direction: column;
			overflow-y: scroll;
			max-height: calc(100vh - 341px);
			height: 100%;

			&::-webkit-scrollbar {
				display: none;
			}

			& .sticky {
				display: none;
				position: sticky;
				top: 0px;
				width: 100%;
				min-height: 20px;
				z-index: 10;
				background-image: linear-gradient(to bottom, #eaecf0, #eaecf000);
				opacity: 0;
				transition: all 0.3s;
			}

			& .isScroll {
				display: flex;
				opacity: 1;
			}

			& .bottomContentBox {
				display: flex;
				flex-direction: column;
				flex: 1;
				background-color: white;
				border-radius: 16px;
				padding: 16px;
				box-shadow: 0px 8px 40px -20px rgba(77, 77, 77, 0.3);
				margin-bottom: 16px;

				&:last-child {
					margin-bottom: 32px;
				}

				& > h4 {
					font-family: 'Montserrat', sans-serif;
					font-weight: 600;
					font-size: 16px;
					margin-bottom: 8px;
				}

				& .content {
					display: flex;
					margin-bottom: 4px;

					& .bar {
						min-width: 6px;
						height: 18px;
						border-radius: 3px;
						margin-right: 8px;
					}

					& > p {
						font-family: 'Montserrat', sans-serif;
						font-weight: 400;
						font-size: 14px;
						color: $black;
						line-height: 18px;
					}
				}
			}

			& .statusText {
				font-family: 'Montserrat', sans-serif;
				font-size: 16px;
				font-style: italic;
				align-self: center;
				margin-top: 32px;
				text-decoration: underline;
				color: #8d898f;
				border: none;
				background-color: transparent;
			}
		}
	}
}
